!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title anonymizer - filters
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %link{:href => 'http://fonts.googleapis.com/css?family=EB+Garamond', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => :stylesheet, :href => "styles/app.css"}

  %body
    #home-view
      %h1 Defined Filters

      #test
        %table
          -@filters.each do |filter|
            %tr
              %td.search.console= "/#{filter.search}/"
              %td.divider => 
              %td.replace.console= "\"#{filter.replace}\","

      #controls
        %a{:id => 'add', :href => '/'}add more
